<div class="mt-3">

  <app-alert (clearMessage)="clearErrorMessage()" *ngIf="errorMessage" [errorMessage]="errorMessage"></app-alert>

  <div *ngIf="todo && !errorMessage">
    <p>Treśc zadania: {{ todo.name }}</p>
    <p>Czy zadanie zostało ukończone: {{ todo.isComplete ? 'tak' : 'nie' }}</p>

    <p>Przejdź do kolejnego zadania lub wróć do poprzedniej strony:</p>
    <button (click)="navigateBack()" class="btn btn-sm btn-info mx-2">Powrót</button>
    <button (click)="navigateToNextTodo()" class="btn btn-sm btn-info">Następne zadanie</button>
  </div>
</div>
