<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
        </li>
        <ng-container *ngIf="user$ | async; else notUser">
          <li class="nav-item">
            <button mat-raised-button color="primary" (click)="logout()">Wyloguj się</button>
          </li>
        </ng-container>
        <ng-template #notUser>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="logowanie" routerLinkActive="active">Zaloguj sie</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
