<form>
  <div class="form-input">
    <mat-form-field appearance="fill">
      <mat-label>Adres email</mat-label>
      <input matInput type="email">
    </mat-form-field>
  </div>
  <div class="form-input">
    <mat-form-field appearance="fill">
      <mat-label>Login</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="form-input">
    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input type="password" matInput>
    </mat-form-field>
  </div>
  <div class="form-input">
    <mat-form-field appearance="fill">
      <mat-label>Powtórz hasło</mat-label>
      <input type="password" matInput>
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-end">
    <button mat-raised-button color="primary">Zarejestruj się</button>
  </div>
</form>
