<form [formGroup]='passwdRecoveryForm' (ngSubmit)='onPasswdRecovery()'>
  <div class='form-input'>
    <mat-form-field appearance='fill'>
      <mat-label>Adres e-mail</mat-label>
      <input matInput type='email' [formControl]='passwdRecoveryForm.controls.email'>
      <mat-error *ngIf='passwdRecoveryForm.controls.email.invalid'>{{ getErrorMessage(passwdRecoveryForm.controls.email) }}</mat-error>
    </mat-form-field>
  </div>
  <div class='alert alert-warning alert-dismissible fade show mt-2' role='alert' *ngIf='errorMessage'>
    {{ errorMessage }}
  </div>
  <div class='d-flex justify-content-end'>
    <button mat-raised-button color='primary' [disabled]='passwdRecoveryForm.invalid'>Odzyskaj hasło</button>
  </div>
</form>

