<form [formGroup]='passwordsForm' (ngSubmit)='onPasswdChange()'>
<div class='form-input'>
  <mat-form-field appearance='fill'>
    <mat-label>Hasło</mat-label>
    <input type='password' matInput [formControl]='controls.password'>
    <mat-error *ngIf='controls.password.invalid'>{{ getErrorMessage(controls.password) }}</mat-error>
  </mat-form-field>
</div>
<div class='form-input'>
  <mat-form-field appearance='fill'>
    <mat-label>Powtórz hasło</mat-label>
    <input type='password' matInput [formControl]='controls.repeatedPassword'>
    <mat-error *ngIf='controls.repeatedPassword.invalid'>{{ getErrorMessage(controls.repeatedPassword) }}</mat-error>
  </mat-form-field>
</div>
<div class='alert alert-warning alert-dismissible fade show mt-2' role='alert' *ngIf='errorMessage'>
  {{ errorMessage }}
</div>
<div class='d-flex justify-content-end'>
  <button mat-raised-button color='primary' [disabled]='passwordsForm.invalid'>Zmień hasło</button>
</div>
</form>


