<form [formGroup]="passwdRecoveryFrom" >
  <div class="form-input">
    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input type="password" matInput [formControl]="controls.password">
      <mat-error *ngIf="controls.password.invalid">{{ getErrorMessage(controls.password) }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-input">
    <mat-form-field appearance="fill">
      <mat-label>Powtórz hasło</mat-label>
      <input type="password" matInput [formControl]="controls.repeatedPassword">
      <mat-error *ngIf="controls.repeatedPassword.invalid">{{ getErrorMessage(controls.repeatedPassword) }}</mat-error>
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-end">
    <button mat-raised-button color="primary">Zmień hasło</button>
  </div>
</form>

