<div class="register-wrapper mt-3">
  <h2>Zarejestruj się:</h2>
  <form>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Adres e-mail</mat-label>
        <input matInput placeholder="test@gmail.com">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nazwa użytkownika</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Hasło</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput>
        <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
                matSuffix>
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-end">
      <button color="primary" mat-raised-button type="submit">Zarejestruj się</button>
    </div>
    <!--    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>-->
  </form>
</div>
